version: "3.8"

services:

  frontend:
    build: ./frontend
    container_name: mean-frontend
    ports:
      - "8080:80"
    depends_on:
      - backend
    restart: always

  backend:
    build: ./backend
    container_name: mean-backend
    environment:
      - MONGO_URL=mongodb://mongo:27017/mean
    ports:
      - "3000:3000"
    depends_on:
      - mongo
    restart: always

  mongo:
    image: mongo:latest
    container_name: mean-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    restart: always

volumes:
  mongo_data: {}
